<div id="<%= dom_id study_log %>">
  <div>
    <strong>Task:</strong>
    <%= study_log.task_id %>
  </div>

  <div>
    <strong>Started at:</strong>
    <%= study_log.started_at %>
  </div>

  <div>
    <strong>Ended at:</strong>
    <%= study_log.ended_at %>
  </div>

  <div>
    <strong>Duration:</strong>
    <%= study_log.duration %>
  </div>

</div>
